@model VShoesEShop.Models.Order

@{
	ViewData["Title"] = "Create";
}

<div class="container-fluid pt-5">
	<div class="row px-xl-5">
		<div class="col-lg-8">
			<form asp-action="Create" class="mb-4" id="CreateForm">
				<h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
				<div class="row">
					<div class="col-md-6 form-group">
						<label asp-for="FirstName"></label>
						<input asp-for="FirstName" placeholder="John" class="form-control" />
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="col-md-6 form-group">
						<label asp-for="LastName"></label>
						<input asp-for="LastName" placeholder="Doe" class="form-control" />
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="col-md-6 form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" type="text" placeholder="example@email.com" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="col-md-6 form-group">
						<label asp-for="Address"></label>
						<input asp-for="Address" type="text" placeholder="123 Street" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
					<div class="col-md-6 form-group">
						<label asp-for="Country"></label>
						<input asp-for="Country" class="form-control" />
						<span asp-validation-for="Country" class="text-danger"></span>
					</div>
					<div class="col-md-6 form-group">
						<label asp-for="State"></label>
						<input asp-for="State" type="text" placeholder="New York" class="form-control" />
						<span asp-validation-for="State" class="text-danger"></span>
					</div>
					<div class="col-md-12 form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="newaccount">
							<label class="custom-control-label" for="newaccount">Create an account</label>
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="shipto">
							<label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		

		@await Component.InvokeAsync("DisplayOrder");


	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
